<%- include('./partials/header'); -%>
<div id = "glow"></div>
<form id="forgetpasswordForm" action="/login">
    <div id="forgetpasswordForm-error" class="error"></div>
    <h2>Forget Password</h2>
    <label for="email">Email (use your sign up email) </label>
    <input type="text" name="email" required />

    <button>Reset my password</button>
    <div style="margin: 20px auto; color: black">
        Verification code will be sent to your email
    </div>
  </form>
  
<script>
    const form = $('#forgetpasswordForm');
    const error = $('#forgetpasswordForm-error');

    form.on('submit', async (e) => {
        e.preventDefault();

        try {
            const email = form[0].email.value;

            const res = await fetch('/forgetpassword', { 
            method: 'POST', 
            body: JSON.stringify({ email }),
            headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            //console.log("forget password result is *************", data);
            if (data == {} || data.errors) {
                error.text(data.errors).addClass("error");
            } else {
                error.text("You have successfully reset your password. Please check your email.");
                error.addClass("success").removeClass("error");
            }
        }
        catch (err) {
            //console.log("xlu ****************** error out", err);
            error.text(data.errors).addClass("error");
        }
    });
</script>

<%- include('./partials/footer'); -%>