<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/favicon.png">
    <title>Elrik's Games</title>
    <link rel="stylesheet" href="./styles.css">
    <script>
        window.onmousemove = e =>   {
            const glow = document.getElementById("glow");
            const x = e.clientX-10;
            const y = e.clientY-10;
            glow.style.left = x+'px';
            glow.style.top = y+'px';
        }

        window.onload = e => {
            getClicks("grapplyBird","grapplyBirdCount");
            getClicks("gunSlap","gunSlapCount");
            getClicks("grapplingHook","grapplingHookCount");
            getClicks("snakeFlyer","snakeFlyerCount");
            getClicks("demonPark","demonParkCount");

            let username = localStorage.getItem("username");
            if (username && username.trim() !="") {
                $("#signin").hide();
                 $("#signout").show();
                $("#username").html(username);
            } else {
                $("#signin").show();
                $("#signout").hide();
                $("#username").hide();
            }
        }

        async function getClicks(name,id) {
            console.log("now");

            const data = await fetch("/stats" + "?" + "name="+name, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }

            });

            const resData = await data.json();

            console.log(resData);

            if (resData) {
                document.getElementById(id).textContent = resData['clicks'] + " clicks";
            }
        };

        async function addClick(game,id) {
            const data = await fetch("/stats", {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({type:game})

            });

            const resData = await data.json();

            console.log(resData);
            document.getElementById(id).textContent = resData['clicks'] + " clicks";

        };
    </script>
</head>
<body class = "page hideCursor">
    <a href = "https://github.com/elrik970" target = "_blank">
        <!-- Github Link -->
        <div class = "githubLinkParent">
            <img src = "images/GithubPNGImage.png" alt = "GithubLink" class = "githubLink" >
            <span class = "githubLinkText">Github Link</span>
        </div>
    </a>
    <div id = "glow"></div>
    <div class="login-logout">
        <button class="viewCount" id="signin">Login</button>

        <span id="username"></span>
        <button class="viewCount hide" id="signout">Logout</button>
    </div>
    
    <h1 class = "topBar">Elrik's Games</h1>
    <table class = "gameTable">
        <tr>
          <th class = "head">Game Link</th>
          <th class = "head">Description</th>
        </tr>

        <tr>
            <td>
                <a href = "https://elrik970.github.io/GrapplyBird" target = "_blank">
                    <img src="images/GrapplyBird.png" alt="GrapplyBird" id = "grapplyBird" class = "gameImage" onclick="addClick('grapplyBird','grapplyBirdCount')">
                </a>
                
            </td>
            <td class = "gameText">
                <div class = "description">An epic neon platformer where you have to grapple your way out of a volcano!</div>
            </td>
            <td>
                <div id="grapplyBirdCount" class = "viewCount"> 0 Clicks  </div>
            </td>
        </tr>

        <tr>
            <td>
                <a href = "https://snakey28.itch.io/gun-slap" target = "_blank">
                    <img src="images/GunSlap.png" alt="GUNSLAP" class = "gunSlap gameImage" onclick="addClick('gunSlap','gunSlapCount')">
                </a>
            </td>
            <td class = "gameText">
                <div class = "description">Roguelike where you fight enemies with different guns and upgrades!</div>
            </td>

            <td>
                <div id="gunSlapCount" class = "viewCount"> 0 Clicks  </div>
            </td>
        </tr>

        

        <tr>
            <td>
                <a href = "https://elrik970.github.io/GrapplingHook" target = "_blank">
                    <img src="images/GrapplingHook.png" alt="Grappling Square" class = "grapplingSquare gameImage" onclick="addClick('grapplingHook','grapplingHookCount')">
                </a>
            </td>
            <td class = "gameText">
                <div class = "description">A platformer where you have to use your grappling hook to swing to the end!</div>
            </td>

            <td>
                <div id="grapplingHookCount" class = "viewCount"> 0 Clicks  </div>
            </td>
        </tr>

        <tr>
            <td>
                <a href = "https://elrik970.github.io/SnakeFlyer0.1" target = "_blank">
                    <img src="images/SnakeFlyer.png" alt="Snake Flyer" class = "snakeFlyer gameImage" onclick="addClick('snakeFlyer','snakeFlyerCount')">
                </a>
            </td>
            <td class = "gameText">
                <div class = "description">A 3d game where you have to repeatedly platform through an obstacle course while avoiding your own trail!</div>
            </td>

            <td>
                <div id="snakeFlyerCount" class = "viewCount"> 0 Clicks  </div>
            </td>
        </tr>

        <tr>
            <td>
                <a href = "https://elrik970.github.io/DemonPark" target = "_blank">
                    <img src="images/DemonPark.png" alt="Demon Park" class = "demonPark gameImage" onclick="addClick('demonPark','demonParkCount')">
                </a>
            </td>
            <td class = "gameText">
                <div class = "description">A fun game where you have to place down roads and roller coasters to get as much money as possible!</div>
            </td>

            <td>
                <div id="demonParkCount" class = "viewCount"> 0 Clicks  </div>
            </td>
        </tr>

      </table>
</body>
<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
<script type="module" src="./firebase/google-signin.js"></script>
</html>