<%- include('./partials/header'); -%>
    <div id = "glow"></div>
    <div class="login-logout hide">
        <button class="viewCount" id="signin">Login</button>

        <span id="username"></span>
        <button class="viewCount hide" id="signout">Logout</button>
    </div>
    
    <table class = "gameTable">
        <tr>
          <th class = "head">Game Link</th>
          <th class = "head">Description</th>
        </tr>

        <tr>
            <td>
                <a href = "https://elrik970.github.io/GrapplyBird" target = "_blank">
                    <img src="images/GrapplyBird.png" alt="GrapplyBird" id = "grapplyBird" class = "gameImage" onclick="addClick('grapplyBird','grapplyBirdCount')">
                </a>
                
            </td>
            <td class = "gameText">
                <div class = "description">An epic neon platformer where you have to grapple your way out of a volcano!</div>
            </td>
            <td>
                <div id="grapplyBirdCount" class = "viewCount"> 0 Clicks  </div>
            </td>
        </tr>

        <tr>
            <td>
                <a href = "https://snakey28.itch.io/gun-slap" target = "_blank">
                    <img src="images/GunSlap.png" alt="GUNSLAP" class = "gunSlap gameImage" onclick="addClick('gunSlap','gunSlapCount')">
                </a>
            </td>
            <td class = "gameText">
                <div class = "description">Roguelike where you fight enemies with different guns and upgrades!</div>
            </td>

            <td>
                <div id="gunSlapCount" class = "viewCount"> 0 Clicks  </div>
            </td>
        </tr>

        

        <tr>
            <td>
                <a href = "https://elrik970.github.io/GrapplingHook" target = "_blank">
                    <img src="images/GrapplingHook.png" alt="Grappling Square" class = "grapplingSquare gameImage" onclick="addClick('grapplingHook','grapplingHookCount')">
                </a>
            </td>
            <td class = "gameText">
                <div class = "description">A platformer where you have to use your grappling hook to swing to the end!</div>
            </td>

            <td>
                <div id="grapplingHookCount" class = "viewCount"> 0 Clicks  </div>
            </td>
        </tr>

        <tr>
            <td>
                <a href = "https://elrik970.github.io/SnakeFlyer0.1" target = "_blank">
                    <img src="images/SnakeFlyer.png" alt="Snake Flyer" class = "snakeFlyer gameImage" onclick="addClick('snakeFlyer','snakeFlyerCount')">
                </a>
            </td>
            <td class = "gameText">
                <div class = "description">A 3d game where you have to repeatedly platform through an obstacle course while avoiding your own trail!</div>
            </td>

            <td>
                <div id="snakeFlyerCount" class = "viewCount"> 0 Clicks  </div>
            </td>
        </tr>

        <tr>
            <td>
                <a href = "https://elrik970.github.io/DemonPark" target = "_blank">
                    <img src="images/DemonPark.png" alt="Demon Park" class = "demonPark gameImage" onclick="addClick('demonPark','demonParkCount')">
                </a>
            </td>
            <td class = "gameText">
                <div class = "description">A fun game where you have to place down roads and roller coasters to get as much money as possible!</div>
            </td>

            <td>
                <div id="demonParkCount" class = "viewCount"> 0 Clicks  </div>
            </td>
        </tr>

      </table>

<%- include('./partials/footer'); -%>