<%- include('./partials/header'); -%>
<div id = "glow"></div>
<form id="resetPasswordForm" action="/resetpassword">
    <div id="error" class="errors"></div>
    <input type="hidden" name="code" required />
    <input type="hidden" name="email" required />
    <h2>Update Password</h2>
    <label for="password">Enter your new password</label>
    <input type="password" name="password" required />

    <div style="margin-top: 10px; float: right;">
        <a style="color: blue; text-decoration: underline;" href="/forgetpassword">Reset password</a>
    </div>

    <button>Update Password</button>

  </form>
  
<script>
    const form = $('#resetPasswordForm');
    const error = $('#error');


    form.on('submit', async (e) => {
        e.preventDefault();

        try {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            form.find("[name=code]").val(urlParams.get('code'));
            form.find("[name=email]").val(urlParams.get('email'));

            const email = form[0].email.value;
            const password = form[0].password.value;
            const code = form[0].code.value;
            const res = await fetch('/resetpassword', { 
            method: 'POST', 
            body: JSON.stringify({ email, password, code }),
            headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log("reset result is *************", data);
            if (data == {} || data.errors) {
                error.text(data.errors).addClass("error");
            }
            else {
                error.text("You have successfully reset your password").addClass("success");
                location.assign('/');
            }
        }
        catch (err) {
            console.log("xlu ****************** error out", err);
            error.text(err).addClass("error");
        }
    });
</script>

<%- include('./partials/footer'); -%>